
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-size: 16px !important;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Globals
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*
 * Base structure
 */

body {
  background-color: #F8F9FD;
  font-family: 'Poppins', sans-serif;
}

/* Style Content di bawah */

.container {
  
}

.hero {
  display: flex;
  justify-content: space-around;

}
.left-hero {
  display: flex;
  margin-bottom: 50px;
}

.left-hero img {
  width: 500px;
  height: 500px;
  margin :  100px 0 0 100px;
}

.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  flex-direction: column;

}

.crud{
  width: fit-content;
  align-self: flex-end;
}